:root{
    --font-body-header: "Poetsen One", sans-serif;
    --font-body-text: "Cuprum", sans-serif;
    --color-darkblue: #121252;
    --color-blue: #1345a2; 
    --color-lightblue: #99bbfa;
    --color-white: #fff;
    --transition: .5s;
}


/* Adicionando um breakpoint */
/* Quando a largura da janela do navegador for de no máximo 600px */
@media (max-width: 600px) {
    h2 {
        font-size: 2rem; 
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declarando Informações Globais */
ul {
    list-style: none;
} 

a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
} a:hover {
    color: #0a2a76
}	

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    color: var(--color-blue);
}


p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.text-decoration {
    font-weight: 900;
}

.titulo {
    font-family: var(--font-body-text);
    margin-left: 30px;
    margin-top: 50px;
}

.titulo p{
    margin-bottom: 30px;
}


html {
    scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------------------------------- */

.container {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/fundos-pag/fundo-baleia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 

/* Produzindo o Cabeçalho */
.header-page {
    font-family: var(--font-body-header);

    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
} 

.header-page nav ul {
    margin-top: 50px;
    margin-right: 30px;
    display: flex;
    gap: 50px;
    font-size: 1.4rem;
    font-weight: 600;
}

.header-page img {
    margin-top: 50px;
    margin-left: 30px;
    width: 200px;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Produzindo o Conteúdo - Introdução */
.projeto-introducao { 
    height: calc(90vh - 100px);
    font-family: var(--font-body-header);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} .projeto-introducao h1 {
    font-size: 5rem;
    color: var(--color-white);
} .projeto-introducao p {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-top: 1rem;
} .projeto-introducao img {
    margin-top: 20px;
    transform: rotate(0.75turn);
    width: 50px;
    cursor: pointer;
}   

/* ----------------------------------------------------------------------------------------------------- */

/* Produzindo o Conteúdo - Problema */

.problema {
    margin-left: 30px;
    margin-top: 30px;
    font-family: var(--font-body-text);
} 

.problema a {
    color: #000;
    font-weight: 900;
} .problema a:hover {
    color: var(--color-blue);
}

.problema-conteudo {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;


    background-color: #00005A;
    color: var(--color-white);
    
    border-radius: 10px;
    border: none;
} .problema-conteudo h4 {
    margin-left: 15px;
    color: var(--color-lightblue);

} .problema-conteudo p {
    margin-left: 15px;
}

.btn-saiba {
    margin-top: 15px;
    margin-left: 10px; 
    border: 2px solid;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: var(--color-white);
} .btn-saiba:hover {
    background-color: transparent;
    color: var(--color-white);
}

.saiba-mais {
    margin-bottom: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s, max-height 0.5s, transform 0.5s;
} .saiba-mais.mostrar {
    opacity: 1;
    max-height: 1000px;
    transform: translateY(0);
} 


/* ----------------------------------------------------------------------------------------------------- */

/* Produzindo o Conteúdo - Solução */

.projeto-ecomar {
    /* background-color: #c0d3f7; */ 
    font-family: var(--font-body-text);
    margin-left: 30px;
    margin-bottom: 60px;
} 

.projeto-ecomar img {
    margin-top: 40px;
    margin-left: 45%;
    transform: rotate(0.75turn);
    width: 70px;
    cursor: pointer;
}

.img-logo {
    margin-left: 35%;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Cards - Objetivos */

.container-cards {
    margin-left: 220px;
    margin-bottom: 50px;
    margin-top: 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1350px;
    flex-direction: wrap;
    z-index: 1; 
}

.container-cards .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 10px;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(2, 21, 81, 0.774);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cards .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container-cards .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container-cards .card .content h2 {
    position: absolute;
    top: -80px;
    right: 10px;
    font-size: 8em;
    color: rgba(87, 112, 194, 0.531);
    pointer-events: none;
}

.container-cards .card .content h3 {
    font-size: 1.8em;
    color: var(--color-lightblue);
    z-index: 1; 
}

.container-cards .card .content p {
    font-size: 1.2em;
    color: var(--color-white);
    font-weight: 300;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Produzindo o Conteúdo - Público Alvo  */
.content-alvo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.content-alvo div {
    flex: 1; 
}

.content-alvo img {
    margin-top: 50px;
    flex: 1; 
    max-width: 100%; 
}

.alvo {
    margin-bottom: 20px;
    padding: 10px;
} .algo ol, li {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-top: 30px;
    color: var(--color-blue);
    font-weight: 900;
} .alvo p {
    margin-left: 15px;
}


.persona {
    display: flex;
    align-items:center;
}
.persona img {
    margin-right: 20px;
}
.persona h3 {
    margin-top: 30px;
    font-size: 1.5rem;
    color: var(--color-blue);
}

.persona h4 {
    color: #000;
    font-size: 1.3rem;
}

.persona ul, li {
    color: #000;
    font-size: 1.2rem;
    margin-top: 1rem;
} 

.text-decoration2 {
    color: #3f9cd2
}

/* ----------------------------------------------------------------------------------------------------- */

/* Solução - Diária */
.solucao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card-solucao {
    perspective: 1000px;
    width: 350px;
    height: 420px;
} 
.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;

    padding: 10px;
    border: none;
    border-radius: 10px;
} .card-face h3 {
    text-align: center;
    margin-top: 20px;
} 

.front {
    background: #afd2f6;
}  

/* ----------------------------------------------------------------------------------------------------- */

/* Benefícios */ 

/* Imagem de Introdução  q*/ 
.container-beneficios {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/fundos-pag/fundo-mar2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.beneficios {
    color: var(--color-white);
    margin-top: 200px;

    height: calc(100vh - 100px);
    font-family: var(--font-body-header);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 

.beneficios img {
    margin-top: 40px;
    transform: rotate(0.75turn);
    width: 70px;
    cursor: pointer;
}

.justificativa {
    width: 80%;
    min-height: 50vh;
    margin: 40px auto;
    margin-top: 100px;
}

.card-justificativa {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;        
    align-items: stretch;
    justify-content: center;
}

.card-item {
    flex: 2; 
    min-height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    gap: 10px;
    padding: 20px;

    box-shadow: 1px 1px 20px #ccc;
    transition: scale .7s;
    border-radius: 20px;
}

.card-item img {
    width: 100px;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Tecnologias Usadas */



/* ----------------------------------------------------------------------------------------------------- */

/* Fórmulario de Contato */
.contato {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.form-contato {
    gap: 10px;
    padding: 20px;
    width: 30%;

    background-color: var(--color-lightblue);
    box-shadow: 1px 1px 20px #597cbd;
    transition: scale .7s;
    border-radius: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.btn-contato {
    background-color: #597cbd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-contato:hover {
    background-color: var(--color-darkblue);
}


/* ----------------------------------------------------------------------------------------------------- */

/* Empresa - Fundadoras */ 
.body-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-empresa {
    margin-top: 40px;
    display: flex;
    align-items: center ;
    height: 580px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;

    background-color: #dddddd;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-photo img {
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}

.profile-photo-02 img {
    width: 250px;
    height: 280px;
    margin-left: 20px;
    border-radius: 10px;
}

.profile h3 {
    font-family: var(--font-body-header);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #2b38cb;
}

.descricao {
    margin-bottom: 20px;
}

.social {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

.social a {
    text-align: center;
    border: solid 2px var(--color-lightblue);
    color: #000;
    width: 75px;
    padding: 5px 0;
    border-radius: 10px;
} 

.social a:hover {
    background-color: var(--color-lightblue);
    color: var(--color-white);
}

/* ----------------------------------------------------------------------------------------------------- */

/* Rodapé */

footer {
    background-color: #597cbd;
    color: var(--color-white);
    font-family: var(--font-body-text);
    margin-top: 100px;
}

.rodape {
    margin-top: 30px;
    margin-left: 40px;
} 

.rodape span {
    font-weight: 900;
}


.rodape-info {
    display: flex;
    flex-direction: column;
}

.rodape-info h2 {
    margin-bottom: 30px;
}

.rodape-info form, input, label {
    margin-top: 10px;
}
.rodape-social h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}
.rodape-social img {
    width: 50px;
}
